.our-menu{
    background-image:url("../../assets/img/suya/Our-Menu-Banner.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 250px 0 150px 0px;
    color: white;
}

.our-menu h1{
    max-width: 403px;
    font-weight: 600;
    font-size: 76px;
    line-height: 80px;
    font-family: "EuclidCircularB-Bold";
    margin: auto;
    text-align: center;
}

.faq-answer{
    padding: 50px 0px 0px 0px;
}

.booking h1{
    font-family: "EuclidCircularB-Bold";
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    margin: 2rem auto;
}


  @media screen and (max-width: 1024px) {
    .our-menu h1 {
      font-size: 60px;
      line-height: 60px;
  }
  }